# -*- coding: utf-8 -*-
#
# Copyright 2019 Ricequant, Inc
#
# * Commercial Usage: please contact public@ricequant.com
# * Non-Commercial Usage:
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.


cdef extern from "ThostFtdcUserApiDataType.h":
    cdef enum THOST_TE_RESUME_TYPE:
        THOST_TERT_RESTART = 0
        THOST_TERT_RESUME
        THOST_TERT_QUICK
    {% for type in types %}
        {% if type.array_len is none %}
    ctypedef {{ type.base_type }} {{ type.name }}  # {{ type.comment }}
        {% else %}
    ctypedef {{ type.base_type }} {{ type.name }}[{{ type.array_len }}]  # {{ type.comment }}
        {% endif %}
    {% endfor %}
